.floating-phone {
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    margin-right: $grid-48;
    margin-bottom: $grid-48;
    display: flex;
    flex-direction: row-reverse;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 37.5px;
    background-color: transparent;

    &__item {
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        background-color: transparent;
        border-radius: 50%;
        color: $color-primary;
        border: solid 2px transparent;

        &:hover {
            cursor: pointer;
        }
    }

    &__items {
        width: 0;
        overflow: hidden;
        display: flex;
        flex-direction: row-reverse;

        > a {
            margin-right: $grid-16;

            &:hover {
                color: white;
                background-color: $color-primary;
            }
        } 
    }

    &__open-button {
        border: solid 2px $color-primary;
        background-color: $color-primary;
        color: white;

        &:hover {
            background-color: white;
            color: $color-primary;
        }
    }

    &__close-button {
        display: none;
        border: solid 2px $color-primary;
    }

    &__whatsapp {
        font-size: 30px;
    }

    &__telegram {
        font-size: 27px;
    }
    
    .active &__items {
        width: auto;
    }

    .active &__open-button {
        display: none;
    }

    .active &__close-button {
        display: block;
    }

    &.active {
        border: 1px solid #EFF6FE;
        background-color: white;
        box-shadow: 2px 7px 20px 1px rgba(38, 33, 58, 0.08);
    }
}