.titled-paragraph {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__info {
        flex: 1;

        > div:last-child {
            margin-top: $grid-32;
        }
    }

    &__body {
        flex: 1;
        padding: $grid-64;
        background-color: $color-secondary;
        border-radius: 40px;
    }
}