.main-header {
    margin-bottom: 140px;
    position: relative;
    padding: $grid-64 $grid-32;
    height: 470px;
    text-align: center;
    border-radius: 40px;
    background-color: $color-secondary;

    > p {
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;
    }

    > div > a {
        width: 236px;
    }

    > img {
        position: absolute;

        &:nth-child(4) { left: 50%; bottom: 0; transform: translate(-50%, 60%); width: 380px; }
        &:nth-child(5) { left: 7%;   bottom: 0; transform: translate(0,  40%); width: 320px; }
        &:nth-child(6) { right: 7%;  bottom: 0; transform: translate(0, 40%); width: 320px; }
        &:nth-child(7) { left: 0;   top: 0;    transform: translate(-20%, 65%); width: 220px; }
        &:nth-child(8) { right: 0;  top: 0;    transform: translate(20%,  65%); width: 220px; }
    
        @media screen and (max-width: 1296px) {
            display: none;
        } 
    }

    @media screen and (max-width: 1296px) {
        height: auto;
        margin-bottom: 0;
    }

    @media screen and (max-width: $dft-width-sm) {
        margin: 0;
        padding: $grid-32 $grid-16;
        border-radius: $border-radius-sm;
    }
}