.questions {
    text-align: center;

    &__body {
        position: relative;
        margin: 0 auto;
        max-width: 920px;
        width: 100%;
        padding: 0 4%;
        background-color: white;
    }
}

.question {
    position: relative;
    background-color: white;
    text-align: left;
    border: solid 1px transparent;
    border-radius: $border-radius-sm;
    box-shadow: 7px 7px 60px #F2F3F6;
    transition: border $text-transition linear;

    &:hover {
        border: solid 1px $color-primary;
    }

    .active &__title {
        color: $color-primary;
        > h4 {
            > i {
                transform: rotate(180deg);
                color: $color-font-primary;
            }
        }  
    }

    &__title {
        display: block;
        padding: $grid-32 $grid-48;

        > h4 {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            font-weight: 400;

            > i {
                margin-top: 6px;
                margin-left: $grid-24;
                transition: transform $dropdown-transition cubic-bezier(0, 1, 0, 1), color $text-transition linear;
            }
        }

        &:hover {
            cursor: pointer;

            > h4 {
                > i {
                    color: $color-primary;
                    transition: transform $dropdown-transition ease-in-out;
                }
            }
        }
    }

    &__body {
        padding: 0 $grid-48;
        padding-bottom: $grid-32;

        &-wrapper {
            max-height: 0;
            overflow: hidden;
            transition: max-height $dropdown-transition cubic-bezier(0, 1, 0, 1);
        }
    }

    .active &__body {
        &-wrapper {
            max-height: 1000px;
            transition: max-height $dropdown-transition ease-in-out;
        }
    }

    &-background {
        position: absolute;
        left: 0;
        margin-top: $grid-32;
        width: 100%;
        height: 540px;
        background-color: $color-secondary;
        border-radius: 40px;

        @media screen and (max-width: $dft-width-sm) {
            display: none;
        }
    }
}