@font-face {
    font-family: "Noto Sans";
    font-weight: 400;
    src: url("../../fonts/NotoSans-Regular.ttf");
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 500;
    src: url("../../fonts/NotoSans-Medium.ttf");
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 600;
    src: url("../../fonts/NotoSans-SemiBold.ttf");
}