*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-family: "Noto Sans";
    font-size: 100%;
    font-weight: 400;
    color: $color-font-primary;
}

body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    display: inline-block;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

h1 {
    font-size: $font-size-h1;
    line-height: $line-height-h1;
}

h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: $font-size-h2;
    line-height: $line-height-h2;
}

h3 {
    font-size: $font-size-h3;
    line-height: $line-height-h3;
}

h4 {
    font-size: $font-size-h4;
}

a {
    color: $color-font-primary;
    text-decoration: none;
    transition: 
        border $text-transition linear, 
        opacity $text-transition linear, 
        color $text-transition linear,
        background-color $text-transition linear;
}

p {
    color: $color-font-secondary;
    line-height: $line-height-p;
}

textarea {
    resize: vertical;
    font-family: "Noto Sans";
}

button {
    font-family: "Noto Sans";
    font-size: 100%;
    &:hover {
        cursor: pointer;
    }
}

textarea, input, button {
    transition: 
        border $text-transition linear, 
        color $text-transition linear,
        background-color $text-transition linear;
}

iframe {
    border: none;
}