@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  src: url("../../fonts/NotoSans-Regular.ttf");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 500;
  src: url("../../fonts/NotoSans-Medium.ttf");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 600;
  src: url("../../fonts/NotoSans-SemiBold.ttf");
}
.dft-container {
  margin: auto;
  width: 100%;
  max-width: 1516px;
  padding: 0 48px;
}
@media screen and (max-width: 548px) {
  .dft-container {
    max-width: 548px;
    padding: 0 24px;
  }
}
.dft-mrg_t_120 {
  margin-top: 120px;
}
@media screen and (max-width: 548px) {
  .dft-mrg_t_120 {
    margin-top: 64px;
  }
}
.dft-mrg_t_64 {
  margin-top: 64px;
}
@media screen and (max-width: 548px) {
  .dft-mrg_t_64 {
    margin-top: 32px;
  }
}
.dft-mrg_t_48 {
  margin-top: 48px;
}
@media screen and (max-width: 548px) {
  .dft-mrg_t_48 {
    margin-top: 24px;
  }
}
.dft-mrg_t_32 {
  margin-top: 32px;
}
@media screen and (max-width: 548px) {
  .dft-mrg_t_32 {
    margin-top: 24px;
  }
}
.dft-mrg_t_24 {
  margin-top: 24px;
}
@media screen and (max-width: 548px) {
  .dft-mrg_t_24 {
    margin-top: 16px;
  }
}
.dft-mrg_t_16 {
  margin-top: 16px;
}
@media screen and (max-width: 548px) {
  .dft-mrg_t_16 {
    margin-top: 8px;
  }
}
.dft-mrg_t_8 {
  margin-top: 8px;
}
@media screen and (max-width: 548px) {
  .dft-mrg_t_8 {
    margin-top: 8px;
  }
}
.dft-mrg_b_120 {
  margin-bottom: 120px;
}
@media screen and (max-width: 548px) {
  .dft-mrg_b_120 {
    margin-bottom: 64px;
  }
}
.dft-mrg_b_64 {
  margin-bottom: 64px;
}
@media screen and (max-width: 548px) {
  .dft-mrg_b_64 {
    margin-bottom: 32px;
  }
}
.dft-mrg_b_48 {
  margin-bottom: 48px;
}
@media screen and (max-width: 548px) {
  .dft-mrg_b_48 {
    margin-bottom: 24px;
  }
}
.dft-mrg_b_32 {
  margin-bottom: 32px;
}
@media screen and (max-width: 548px) {
  .dft-mrg_b_32 {
    margin-bottom: 24px;
  }
}
.dft-mrg_b_24 {
  margin-bottom: 24px;
}
@media screen and (max-width: 548px) {
  .dft-mrg_b_24 {
    margin-bottom: 16px;
  }
}
.dft-mrg_b_16 {
  margin-bottom: 16px;
}
@media screen and (max-width: 548px) {
  .dft-mrg_b_16 {
    margin-bottom: 8px;
  }
}
.dft-mrg_b_8 {
  margin-bottom: 8px;
}
@media screen and (max-width: 548px) {
  .dft-mrg_b_8 {
    margin-bottom: 8px;
  }
}
.dft-wrp-mrg_t_120 {
  margin-top: -120px;
}
@media screen and (max-width: 548px) {
  .dft-wrp-mrg_t_120 {
    margin-top: -64px;
  }
}
.dft-wrp-mrg_t_64 {
  margin-top: -64px;
}
@media screen and (max-width: 548px) {
  .dft-wrp-mrg_t_64 {
    margin-top: -32px;
  }
}
.dft-wrp-mrg_t_48 {
  margin-top: -48px;
}
@media screen and (max-width: 548px) {
  .dft-wrp-mrg_t_48 {
    margin-top: -24px;
  }
}
.dft-wrp-mrg_t_32 {
  margin-top: -32px;
}
@media screen and (max-width: 548px) {
  .dft-wrp-mrg_t_32 {
    margin-top: -24px;
  }
}
.dft-wrp-mrg_t_24 {
  margin-top: -24px;
}
@media screen and (max-width: 548px) {
  .dft-wrp-mrg_t_24 {
    margin-top: -16px;
  }
}
.dft-wrp-mrg_t_16 {
  margin-top: -16px;
}
@media screen and (max-width: 548px) {
  .dft-wrp-mrg_t_16 {
    margin-top: -8px;
  }
}
.dft-wrp-mrg_t_8 {
  margin-top: -8px;
}
@media screen and (max-width: 548px) {
  .dft-wrp-mrg_t_8 {
    margin-top: -8px;
  }
}
.dft-wrp-mrg_b_120 {
  margin-bottom: -120px;
}
@media screen and (max-width: 548px) {
  .dft-wrp-mrg_b_120 {
    margin-bottom: -64px;
  }
}
.dft-wrp-mrg_b_64 {
  margin-bottom: -64px;
}
@media screen and (max-width: 548px) {
  .dft-wrp-mrg_b_64 {
    margin-bottom: -32px;
  }
}
.dft-wrp-mrg_b_48 {
  margin-bottom: -48px;
}
@media screen and (max-width: 548px) {
  .dft-wrp-mrg_b_48 {
    margin-bottom: -24px;
  }
}
.dft-wrp-mrg_b_32 {
  margin-bottom: -32px;
}
@media screen and (max-width: 548px) {
  .dft-wrp-mrg_b_32 {
    margin-bottom: -24px;
  }
}
.dft-wrp-mrg_b_24 {
  margin-bottom: -24px;
}
@media screen and (max-width: 548px) {
  .dft-wrp-mrg_b_24 {
    margin-bottom: -16px;
  }
}
.dft-wrp-mrg_b_16 {
  margin-bottom: -16px;
}
@media screen and (max-width: 548px) {
  .dft-wrp-mrg_b_16 {
    margin-bottom: -8px;
  }
}
.dft-wrp-mrg_b_8 {
  margin-bottom: -8px;
}
@media screen and (max-width: 548px) {
  .dft-wrp-mrg_b_8 {
    margin-bottom: -8px;
  }
}
.dft-block-pd_left {
  padding-left: 32px;
}
.dft-block-pd_right {
  padding-right: 32px;
}
.dft-text-pd_left {
  padding-left: 8px;
}
.dft-text-pd_right {
  padding-right: 8px;
}
.dft-text-bold {
  font-weight: 600;
}
.dft-color_primary {
  color: #0C7DFF;
}
.dft-btn {
  display: inline-block;
  padding: 16px 48px;
  border-radius: 8px;
  font-size: 100%;
  font-weight: 600;
  background-color: #0C7DFF;
  border: solid 1px #0C7DFF;
  color: white;
}
.dft-btn:hover, .dft-btn:focus {
  background-color: white;
  border: solid 1px #D6DBED;
  color: #0C7DFF;
}
.dft-btn_secondary {
  background-color: white;
  border: solid 1px #D6DBED;
  color: #0C7DFF;
}
.dft-btn_secondary:hover, .dft-btn_secondary:focus {
  border: solid 1px #0C7DFF;
}
.dft-btn_trans {
  border: none;
  padding: 16px 24px;
  background-color: white;
  font-weight: 600;
  color: #25406B;
}
.dft-btn_trans:hover, .dft-btn_trans:focus {
  border: none;
  color: #0C7DFF;
}
.dft-btn_trans.active {
  background-color: #E8F2FE;
  color: #0C7DFF;
}
.dft-btn_sm {
  font-size: 0.875rem;
  padding: 16px 32px;
}
@media screen and (max-width: 548px) {
  .dft-btn {
    font-size: 0.75rem;
    padding: 16px;
  }
}
.dft-form-group {
  display: flex;
  flex-direction: column;
}
.dft-form-input {
  padding: 16px 24px;
  border: 1px solid #D6DBED;
  border-radius: 12px;
  font-size: 100%;
  color: #66738F;
}
.dft-form-input:focus {
  border: 1px solid #0C7DFF;
}
.dft-form-label {
  font-weight: 500;
  margin-bottom: 8px;
}
.dft-form-label:focus {
  border: 1px solid #0C7DFF;
}
@media screen and (max-width: 548px) {
  .dft-form-label {
    font-size: 0.875rem;
  }
}
.dft-title {
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #0C7DFF;
  text-transform: uppercase;
}
@media screen and (max-width: 548px) {
  .dft-title {
    font-size: 0.875rem;
  }
}
.dft-link {
  color: #0C7DFF;
  border-bottom: solid 0.1em transparent;
}
.dft-link:hover, .dft-link:focus {
  border-bottom: solid 0.1em #0C7DFF;
}
.dft-link:hover {
  cursor: pointer;
}
.dft-link_secondary {
  color: #25406B;
}
.dft-link_secondary:hover, .dft-link_secondary:focus {
  border-bottom: solid 0.1em transparent;
  color: #0C7DFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  font-family: "Noto Sans";
  font-size: 100%;
  font-weight: 400;
  color: #25406B;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

h1 {
  font-size: 3.125rem;
  line-height: 4rem;
}
@media screen and (max-width: 1296px) {
  h1 {
    font-size: 2.1875rem;
    line-height: 3rem;
  }
}
@media screen and (max-width: 548px) {
  h1 {
    font-size: 1.625rem;
    line-height: normal;
  }
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
}
@media screen and (max-width: 548px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2.125rem;
  }
}

h3 {
  font-size: 2.1875rem;
  line-height: 3rem;
}
@media screen and (max-width: 548px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2.125rem;
  }
}

h4 {
  font-size: 1.25rem;
}
@media screen and (max-width: 548px) {
  h4 {
    font-size: 1.125rem;
  }
}

a {
  color: #25406B;
  text-decoration: none;
}

p {
  color: #66738F;
  line-height: 1.75rem;
}
@media screen and (max-width: 548px) {
  p {
    font-size: 0.875rem;
    line-height: 1.5625rem;
  }
}

textarea {
  resize: vertical;
  font-family: "Noto Sans";
}

button {
  font-family: "Noto Sans";
  font-size: 100%;
}
button:hover {
  cursor: pointer;
}

iframe {
  border: none;
}

.nav-contacts {
  display: flex;
  align-items: center;
  min-height: 60px;
  font-weight: 600;
}
.nav-contacts__left {
  margin-right: auto;
}
.nav-contacts__right {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 482px;
}
.nav-contacts__list {
  display: flex;
  justify-content: flex-end;
}
.nav-contacts__item {
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.nav-contacts__item i {
  color: #0C7DFF;
  font-size: 1.375rem;
  vertical-align: middle;
  margin-right: 8px;
}
@media screen and (max-width: 900px) {
  .nav-contacts {
    display: none;
  }
}

.navigation-btn {
  position: absolute;
  right: 0;
  width: 64px;
  height: 64px;
  border-radius: 16px;
  background-color: #F6FAFF;
}
.navigation-btn > div {
  width: 24px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation-btn > div > span {
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #0C7DFF;
}
.navigation-btn > div > span:nth-child(1) {
  top: 0;
}
.navigation-btn > div > span:nth-child(2) {
  top: 7px;
}
.navigation-btn > div > span:nth-child(3) {
  bottom: 0;
}
.navigation-btn--active > div > span:nth-child(1) {
  top: 50%;
  transform: rotateZ(-45deg) translate(2%, -50%);
}
.navigation-btn--active > div > span:nth-child(2) {
  display: none;
}
.navigation-btn--active > div > span:nth-child(3) {
  bottom: 50%;
  transform: rotateZ(45deg) translateY(50%);
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  align-items: center;
  font-weight: 600;
}
.navigation__logo:hover svg > g > path, .navigation__logo:focus svg > g > path {
  fill: #0C7DFF;
}
.navigation__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  min-width: 500px;
}
.navigation__link {
  display: block;
}
.navigation__link > i {
  position: relative;
  bottom: 1px;
  font-size: 0.75em;
  margin-left: 4px;
}
.navigation__link:hover > i {
  transform: rotateX(180deg);
}
.navigation__link:hover + * {
  display: block;
}
.navigation-dropdown {
  position: absolute;
  top: 100%;
  display: none;
  transform: translateX(-40%);
  width: 768px;
}
.navigation-dropdown__body {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 16px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 4px 9px 34px 5px rgba(46, 32, 101, 0.08);
}
.navigation-dropdown__item {
  display: flex;
  flex: 50%;
  padding: 24px 16px;
  border-radius: 20px;
}
.navigation-dropdown__item span {
  font-weight: 600;
}
.navigation-dropdown__item p {
  font-size: 0.75rem;
  line-height: 1.125rem;
  margin-top: 8px;
  font-weight: 400;
}
.navigation-dropdown__item:hover, .navigation-dropdown__item:focus {
  background-color: #F6FAFF;
}
.navigation-dropdown__item:hover span, .navigation-dropdown__item:focus span {
  color: #0C7DFF;
}
.navigation-dropdown__image-wrapper {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}
.navigation-dropdown__image-wrapper[data-index="0"] {
  background-color: #FEF1F2;
  color: #F5818C;
}
.navigation-dropdown__image-wrapper[data-index="2"] {
  background-color: #F3EFFF;
  color: #6F3CFF;
}
.navigation-dropdown__image-wrapper[data-index="4"] {
  background-color: #EBFBFF;
  color: #04D2FC;
}
.navigation-dropdown__image-wrapper[data-index="1"] {
  background-color: #F0FBF7;
  color: #47D39B;
}
.navigation-dropdown__image-wrapper[data-index="3"] {
  background-color: #FDF5F2;
  color: #FFA05C;
}
.navigation-dropdown__image-wrapper[data-index="5"] {
  background-color: rgba(12, 125, 255, 0.1);
  color: #0C7DFF;
}
.navigation-dropdown.active {
  display: block;
}
.navigation-dropdown:hover {
  display: block;
}
.navigation__phone {
  align-self: baseline;
  color: #0C7DFF;
}
.navigation__phone i {
  margin-right: 8px;
  font-size: 0.8em;
  color: inherit;
}
.navigation_md {
  position: relative;
  z-index: 1;
  display: none;
}
.navigation_md__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
}
.navigation_md__links {
  position: absolute;
  top: 100%;
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 48px 0;
  padding-top: 24px;
  margin-top: 24px;
  background-color: white;
  font-size: 1.5rem;
  font-weight: 600;
}
.navigation_md__links.active {
  display: flex;
}
.navigation_md-dropdown {
  display: none;
}
@media screen and (max-width: 1160px) {
  .navigation {
    display: none;
  }
  .navigation_md {
    display: block;
  }
}

.buh-services {
  max-width: 1200px;
  text-align: center;
}
.buh-services h3 {
  max-width: 750px;
}
.buh-services__nav {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .buh-services__nav {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.buh-services__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.buh-services__slider-wrapper {
  max-width: 580px;
  width: 100%;
}
@media screen and (max-width: 1076px) {
  .buh-services__slider-wrapper {
    margin: -64px;
    max-width: 708px;
  }
}
.buh-services__slider {
  width: 100%;
}
.buh-services__slide {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1076px) {
  .buh-services__slide {
    padding: 64px;
  }
}
.buh-services__item {
  padding: 24px 32px;
  text-align: left;
  border-radius: 20px;
}
@media screen and (max-width: 1076px) {
  .buh-services__item {
    box-shadow: 7px 7px 60px #F2F3F6;
  }
}
@media screen and (max-width: 1076px) {
  .buh-services__image {
    display: none;
  }
}

.main-header {
  margin: 0 32px;
  position: relative;
  padding: 64px 32px;
  height: 470px;
  text-align: center;
  border-radius: 40px;
  background-color: #F6FAFF;
}
.main-header > p {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}
.main-header > div > a {
  width: 236px;
}
.main-header > img {
  position: absolute;
}
.main-header > img:nth-child(4) {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 60%);
  width: 380px;
}
.main-header > img:nth-child(5) {
  left: 7%;
  bottom: 0;
  transform: translate(0, 40%);
  width: 320px;
}
.main-header > img:nth-child(6) {
  right: 7%;
  bottom: 0;
  transform: translate(0, 40%);
  width: 320px;
}
.main-header > img:nth-child(7) {
  left: 0;
  top: 0;
  transform: translate(-20%, 65%);
  width: 220px;
}
.main-header > img:nth-child(8) {
  right: 0;
  top: 0;
  transform: translate(20%, 65%);
  width: 220px;
}
@media screen and (max-width: 1240px) {
  .main-header > img {
    display: none;
  }
}
@media screen and (max-width: 1240px) {
  .main-header {
    height: auto;
  }
}
@media screen and (max-width: 548px) {
  .main-header {
    margin: 0;
    padding: 32px 16px;
    border-radius: 20px;
  }
}

.calculator {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
  margin-left: -48px;
}
.calculator__info {
  margin-left: 48px;
  max-width: 630px;
  width: 100%;
  padding: 48px 0;
}
@media screen and (max-width: 548px) {
  .calculator__info {
    padding-top: 0;
  }
}
.calculator__form {
  margin-left: 48px;
  flex-basis: 564px;
  max-width: 1024px;
  flex-grow: 1;
  padding: 32px 48px;
  background-color: #F6FAFF;
  border-radius: 32px;
}
@media screen and (max-width: 548px) {
  .calculator__form {
    padding: 32px;
    border-radius: 20px;
  }
}
.calculator__btn-group {
  margin-top: -8px;
  display: flex;
  flex-wrap: wrap;
}
.calculator__btn-group > button {
  margin-top: 8px;
}
.calculator__btn-group > button:not(:last-child) {
  margin-right: 8px;
}
.calculator__btn-group > button.active {
  background-color: #E8F2FE;
  border: solid 1px #0C7DFF;
}
@media screen and (max-width: 548px) {
  .calculator__btn-group > button:not(:last-child) {
    margin-right: 0;
  }
  .calculator__btn-group:nth-child(2) > button:nth-child(1) {
    flex-grow: 1;
  }
  .calculator__btn-group:nth-child(2) > button:nth-child(2) {
    flex-grow: 1;
  }
  .calculator__btn-group:nth-child(4) > button:nth-child(1) {
    flex-grow: 1;
    margin-right: 8px;
  }
  .calculator__btn-group:nth-child(4) > button:nth-child(2) {
    order: 2;
    flex-grow: 1;
  }
  .calculator__btn-group:nth-child(4) > button:nth-child(3) {
    order: 1;
    flex-grow: 1;
  }
  .calculator__btn-group:nth-child(6) > button:nth-child(1) {
    order: 2;
    flex-basis: 100%;
  }
  .calculator__btn-group:nth-child(6) > button:nth-child(2) {
    flex-grow: 1;
    margin-right: 8px;
  }
  .calculator__btn-group:nth-child(6) > button:nth-child(3) {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
.calculator__title {
  margin-bottom: 8px;
  font-weight: 500;
}
.calculator__title:not(:first-of-type) {
  margin-top: 32px;
}
.calculator__price-text {
  font-weight: 600;
  font-size: 1.25rem;
}
@media screen and (max-width: 548px) {
  .calculator__price-text {
    font-size: 1rem;
  }
}
.calculator__price {
  color: #0C7DFF;
}
.calculator__price h2 {
  display: inline-block;
}
.calculator__price span {
  margin-left: 4px;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
}
@media screen and (max-width: 548px) {
  .calculator__price span {
    font-size: 0.875rem;
  }
}

.feedback {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 304px;
  padding: 64px 48px;
  padding-bottom: 0;
  border-radius: 48px;
  background-color: #F6FAFF;
}
.feedback__info {
  max-width: 540px;
}
@media screen and (max-width: 548px) {
  .feedback__info {
    padding-right: 0;
  }
}
.feedback__form {
  position: absolute;
  right: 48px;
  max-width: 420px;
  width: 100%;
  padding: 32px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 32px rgba(24, 21, 35, 0.05);
  border-radius: 24px;
}
@media screen and (max-width: 1200px) {
  .feedback__form {
    position: relative;
    right: 0;
  }
}
@media screen and (max-width: 548px) {
  .feedback__form {
    padding: 24px;
    border-radius: 20px;
  }
}
@media screen and (max-width: 548px) {
  .feedback {
    padding: 32px;
    padding-bottom: 0;
    border-radius: 20px;
  }
}

.blog {
  display: flex;
  justify-content: center;
}
.blog-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}
.blog__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 370px;
  flex-grow: 1;
  padding: 32px;
  border-radius: 16px;
  background-color: white;
}
.blog__item:hover {
  box-shadow: 0px 11px 34px 1px rgba(38, 33, 58, 0.08);
}
.blog__item:hover .blog__bottom-link {
  opacity: 1;
}
.blog__item:not(:last-child) {
  margin-right: 48px;
}
@media screen and (max-width: 1200px) {
  .blog__item {
    box-shadow: 0px 11px 34px 1px rgba(38, 33, 58, 0.08);
  }
  .blog__item:last-child {
    display: none;
  }
  .blog__item:not(:last-child) {
    margin-right: 0;
  }
  .blog__item:first-child {
    margin-right: 32px;
  }
}
@media screen and (max-width: 768px) {
  .blog__item {
    padding: 24px;
  }
  .blog__item:not(:first-child) {
    display: none;
  }
  .blog__item:first-child {
    margin-right: 0;
  }
}
.blog__image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.blog__image-wrapper::after {
  content: "";
  display: block;
  padding-bottom: 75%;
}
.blog__image-wrapper > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog__bottom-link {
  margin-top: auto;
  opacity: 0;
}

.services__header {
  text-align: center;
}
.services__header > * {
  margin-left: auto;
  margin-right: auto;
}
.services__header > p {
  max-width: 500px;
}
.services__body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;
}
@media screen and (max-width: 900px) {
  .services__body {
    flex-direction: column;
    align-items: center;
  }
}

.service {
  margin-right: 16px;
  margin-left: 16px;
  max-width: 500px;
  flex-basis: 334px;
  flex-grow: 1;
  padding: 32px;
  text-align: center;
  border-radius: 24px;
  box-shadow: 0px 11px 28px 1px rgba(38, 33, 58, 0.04);
}
.service__icon {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: blue;
}
.service__icon > i {
  font-size: 28px;
}
@media screen and (max-width: 548px) {
  .service__icon {
    width: 55px;
    height: 55px;
  }
}
.service:nth-child(1) .service__icon {
  background-color: #FEF1F2;
  color: #F5818C;
}
.service:nth-child(5) .service__icon {
  background-color: #EBFBFF;
  color: #04D2FC;
}
.service:nth-child(2) .service__icon {
  background-color: #F3EFFF;
  color: #6F3CFF;
}
.service:nth-child(3) .service__icon {
  background-color: #F0FBF7;
  color: #47D39B;
}
.service:nth-child(4) .service__icon {
  background-color: #FDF5F2;
  color: #FFA05C;
}
.service:nth-child(6) .service__icon {
  background-color: rgba(12, 125, 255, 0.1);
  color: #0C7DFF;
}
@media screen and (max-width: 900px) {
  .service {
    flex-basis: 0;
  }
}

.footer {
  margin-top: auto;
  background-color: #F6FAFF;
  padding: 48px 0;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: baseline;
  /* margin-top: -$grid-64; */
  padding-bottom: 32px;
  border-bottom: solid 1px rgba(102, 115, 143, 0.2);
}
.footer__col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__col:last-child {
  max-width: 500px;
  width: 100%;
}
.footer__title {
  font-size: 0.875rem;
  line-height: 1.5rem;
  /* margin-bottom: $grid-24; */
  font-weight: 600;
  color: #66738F;
  text-transform: uppercase;
}
.footer__paragraph {
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.footer__link {
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding-top: 32px;
}
.footer__bottom > a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 1240px) {
  .footer__bottom > a {
    display: none;
  }
}
.footer__bottom > div > a {
  font-weight: 600;
}
@media screen and (max-width: 900px) {
  .footer__bottom > div:first-child {
    max-width: 264px;
  }
}

/*# sourceMappingURL=bundle.css.map */
