.about-gallery {
    &__footer {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__buttons {
        position: absolute;
        right: 0;
        bottom: 50%;
        transform: translateY(50%);
        width: 132px;
        display: flex;
        justify-content: space-between;
    }
    
    &__slider {
        overflow: hidden;
        border-radius: $border-radius-sm;       
    } 

    &__slide {
        > div {
            border-radius: $border-radius-sm;
        }
    }
}