.calculator {
    @include flex-between;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    margin-left: -$grid-48;

    &__info {
        margin-left: $grid-48;
        max-width: 630px;
        width: 100%;
        padding: $grid-48 0;
    }

    &__form {
        margin-left: $grid-48;
        flex-basis: 564px;
        max-width: 1024px;
        flex-grow: 1;
        padding: $grid-32 $grid-48;
        background-color: $color-secondary;
        border-radius: $grid-32;
    }

    &__btn-group {
        margin-top: -$grid-8;
        display: flex;
        flex-wrap: wrap;

        > button {
            margin-top: $grid-8;
            
            &:not(:last-child) {
                margin-right: $grid-8;
            }
        
            &.active {
                background-color: #E8F2FE;
                border: solid 1px $color-primary;
            }
        }
    }

    &__title {
        margin-bottom: 8px;
        font-weight: 500;

        &:not(:first-of-type) {
            margin-top: $grid-32;
        }
    }

    &__price-text {
        font-weight: 600;
        font-size: $font-size-bigger;
    }

    &__price {
        color: $color-primary;

        h2 {
            display: inline-block;
        }

        span {
            margin-left: $grid-4;
            display: inline-block;
            font-size: 1rem;
            font-weight: 500;
        }
    }
}