.feedback {
    $media-md-template: 1200px;

    @include flex-between;
    position: relative;
    padding: $grid-64 $grid-48;
    background-color: $color-secondary;
    border-radius: 40px;

    &__info {
        position: relative;
        max-width: 540px;
    }

    &__form {
        position: relative;
        max-width: 420px;
        width: 100%;
        padding: $grid-32;
        background-color: #FFFFFF;
        box-shadow: 0px 10px 32px rgba(24, 21, 35, 0.05);
        border-radius: $grid-24;
    }
}