.navigation {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: $z-layer-navigation;
    align-items: center;
    font-weight: 600;

    &__logo {
        &:hover, &:focus {
            svg {
                > g {
                    > path {
                        fill: $color-primary;
                    }
                }
            }
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        position: relative;
        max-width: 500px + $grid-32 * 2;
        flex-basis: 500px;
        width: 100%;
        padding: 0 $grid-32;
    }

    &__link {
        display: block;

        > i {
            position: relative;
            bottom: 1px;
            font-size: .75em;
            margin-left: $grid-4;
        }

        &:hover {        
            + * {
               display: block; 
            }
        }
    }

    &-dropdown {
        position: absolute;
        top: 100%;
        display: none;
        transform: translateX(-40%);
        width: 768px;

        &__body {
            margin-top: $grid-24;
            @include flex-between;
            flex-wrap: wrap;
            padding: $grid-16;
            border-radius: 16px;
            background-color: white;
            box-shadow: 4px 9px 34px 5px rgba(46, 32, 101, 0.08);
        }

        &__item {
            display: flex;
            flex: 50%;
            padding: $grid-24 $grid-16;
            border-radius: 20px;
            
            span {
                font-weight: 600;
            }

            p {
                @include font-smallest;
                margin-top: $grid-8;
                font-weight: 400;
            }

            &:hover, &:focus {
                background-color: #F6FAFF;
                span {
                    color: $color-primary;
                }
            }
        }

        &__image-wrapper {
            width: 48px;
            height: 48px;
            flex-shrink: 0;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: $grid-24;
        
            &[data-index="0"] { background-color: #FEF1F2; color: #F5818C; }
            &[data-index="2"] { background-color: #F3EFFF; color: #6F3CFF; }
            &[data-index="4"] { background-color: #EBFBFF; color: #04D2FC; }
            &[data-index="1"] { background-color: #F0FBF7; color: #47D39B; }
            &[data-index="3"] { background-color: #FDF5F2; color: #FFA05C; }
            &[data-index="5"] { background-color: rgba(12, 125, 255, 0.1); color: #0C7DFF; }
        }

        &.active {
            display: block;
        }

        &:hover {
            display: block;
        }
    }

    &__phone {
        align-self: baseline;
        color: $color-primary;

        i {
            margin-right: $grid-8;
            font-size: 0.8em;
            color: inherit;
        }
    }

    &_md {
        position: relative;
        z-index: $z-layer-navigation;
        display: none;

        &__header {
            @include flex-between;
            position: relative;
            align-items: center;
        }

        &__links {
            display: flex;
            flex-direction: column;
            padding-top: $grid-24;
            padding-bottom: $grid-24;
            font-size: $font-size-biggest;
            font-weight: 600;

            &-wrapper {
                position: absolute;
                margin-top: $grid-24;
                top: 100%;
                left: 0;
                width: 100%;
                overflow: hidden;
                background-color: white;

                max-height: 0;
                transition: max-height $dropdown-transition cubic-bezier(0, 1, 0, 1);

                box-shadow: 0px 2px 4px $color-secondary;

                &.active {
                    max-height: 1000px;
                    transition: max-height $dropdown-transition ease-in-out;
                }
            }
        }

        @media screen and (max-width: 900px) {
            padding-top: 31px;
        }
    }
}