.navigation-btn {
    position: absolute;
    right: 0;
    width: $grid-64;
    height: $grid-64;
    border-radius: $grid-16;
    background-color: $color-secondary;

    @media screen and (max-width: $dft-width-sm) {
        background-color: transparent;
        width: $grid-24;
        height: $grid-16;
    }

    > div {
        width: $grid-24;
        height: $grid-16;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        > span {
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 1px;
            background-color: $color-primary;
            
            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: $grid-16 / 2 - 1;            
            }

            &:nth-child(3) {
                bottom: 0;
            }
        }
    }

    &--active {
        > div {
            > span {
                &:nth-child(1) {
                    top: 50%;
                    transform: rotateZ(-45deg) translate(2%, -50%);
                }
        
                &:nth-child(2) {
                    display: none;           
                }
        
                &:nth-child(3) {
                    bottom: 50%;
                    transform: rotateZ(45deg) translateY(50%);
                }
            }
        }
    }
}