.service-info {
    max-width: 1200px;

    h3 {
        max-width: 750px;
    }

    &__nav {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 900px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
    }

    &__slider {
        position: relative;
        display: flex;
        align-items: stretch;
        max-width: 580px;
    }

    &__slide {
        
    }

    &__slide-wrapper {
        visibility: hidden;

        &:not(:last-child) {
            position: absolute;
            left: 0;
        }

        &.active {
            visibility: visible;
        }
    }

    &__item {
        padding: $grid-24;
        border-radius: $border-radius-sm;
        text-align: left;

        &:hover {
            box-shadow: 7px 7px 60px #F2F3F6;

            > h4 {
                color: $color-primary;
            }
        }

        @media screen and (max-width: 1160px) {
            box-shadow: 7px 7px 60px #F2F3F6;
        }
    }

    &__image {
        @media screen and (max-width: 1160px) {
            display: none;
        }
    }
}