h1 {
    font-size: $font-size-h1-md;
    line-height: $line-height-h1-md;
}

h2 {
    font-size: $font-size-h2-md;
    line-height: $line-height-h2-md;
}

h3 {
    font-size: $font-size-h3-md;
    line-height: $line-height-h3-md;
}

h4 {
    font-size: $font-size-h4-md;
    line-height: $line-height-h4-md;
}