.service-services {
    &__nav {
        &-wrapper {
            overflow-x: auto;
            overflow-y: hidden;
        }
        
        flex-wrap: nowrap;
        width: max-content;
    }

    &__slider {
        flex-direction: column;
        padding-left: $grid-48;
    }

    &__titles {
        max-width: 100%;
        width: 540px;
    
        &-footer {
            display: none;
        }
    }

    &__texts {
        max-width: 100%;
        width: 100%;
    }
}