.titled-paragraph {

    &__info {
        flex: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        > div:last-child {
            margin-top: 0;
            align-self: flex-start;
        }
    }

    &__body {
        flex: 100%;
    }
}