.about-1C {
    padding: $grid-24;

    border-radius: $border-radius-sm;

    &__logo {
        margin-left: $grid-48;
        flex-grow: 1;
        max-width: 360px;
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $grid-32;
        background-color: white;
        border-radius: 24px;
    }

    &__info {
        margin-left: $grid-48;
        max-width: 640px;
        flex-basis: 350px;
        flex-grow: 1;
    }
}