.calculator {
    &__info {
        padding-top: 0;
    }

    &__form {
        padding: $grid-32;
        border-radius: $border-radius-sm;
    }

    &__btn-group {
        > button {
            &:not(:last-child) {
                margin-right: 0;
            }
        }
        
        &:nth-child(2) {
            > button {
                &:nth-child(1) { flex-grow: 1; }
                &:nth-child(2) { flex-grow: 1; }
            }
        }
        &:nth-child(4) {
            > button {
                &:nth-child(1) { flex-grow: 1; margin-right: $grid-8; }
                &:nth-child(2) { order: 2; flex-grow: 1; }
                &:nth-child(3) { order: 1; flex-grow: 1; }
            }
        }
        &:nth-child(6) {
            > button {
                &:nth-child(1) { order: 2; flex-basis: 100%; }
                &:nth-child(2) { flex-grow: 1; margin-right: $grid-8; }
                &:nth-child(3) { flex-grow: 1; flex-shrink: 1; }
            }
        }
    }

    &__price-text {
        font-size: 1rem;
    }

    &__price {
        span {
            font-size: $font-size-smaller;
        }
    }
}