.feedback {
    &__info {
        padding: 0;
    }

    &__form {
        padding: 0;
        border-radius: $border-radius-sm;
        background-color: transparent;
        box-shadow: none;
    }

    padding: $grid-24;
    border-radius: $border-radius-sm;
}