.service-main {
    &__background {
        display: none;
    }

    &__slider {
        background-color: $color-secondary;
    }

    &__slide {
        padding: $grid-16;
    }

    &__buttons {
        position: relative;
    }

    &__footer {
        justify-content: flex-start;
    }

    &__pagination {
        margin-left: 0;
    }
}