.navigation {
    &_md {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white;

        padding-top: $grid-16;
        padding-bottom: $grid-16;

        &__header {
            svg {
                height: 24px;
            }
        }

        &__links {
            &-wrapper {
                margin-top: $grid-16 - 4;
                max-height: 4px;
            }

        }
    }
}