.navigation {
    &-dropdown {
        &__item {
            flex: 100%;
            padding: $grid-8 $grid-16;
    
            p {
                display: none;
            }

            &-icon {
                display: none;
            }
        }
    }
}

.navigation_md {
    padding: 0;
    overflow: auto;

    &__content {
        padding-top: $grid-16;
        padding-bottom: $grid-16;
    }

    &__logo {
        > img {
            height: 24px;
        }
    }

    &__button {
        width: $grid-24;
        height: $grid-16;
        background-color: transparent;
    }

    &__links {
        &-wrapper {
            display: flex;
            flex-direction: column;
            
            &.active {
                min-height: calc((var(--vh, 1vh) * 100) - 24px - 16px * 2);
            }
        }
    }

    &__contacts {
        display: block;
    }
}