.about-services {
    max-width: 1024px;
    width: 100%;
    padding: $grid-48 $grid-64;

    background-color: $color-secondary;
    border-radius: 40px;

    &__body {
        margin-top: -$grid-32;
        margin-right: -$grid-32;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.about-service {
    margin-top: $grid-32;
    margin-right: $grid-32;
    max-width: 280px;
    flex-grow: 1;
    flex-basis: 240px;
    padding: $grid-24 $grid-32;
    background-color: white;
    border-radius: $grid-24;

    &__icon {
        width: $grid-64;
        height: $grid-64;
        font-size: 20px;
    }

    &__title {
        line-height: 28px;
        font-weight: 600;
        transition: color $text-transition linear;
    }

    &:hover {
        &:nth-child(2) { .about-service__title { color: #04D2FC; } }
        &:nth-child(5) { .about-service__title { color: #F5818C; } }
        &:nth-child(6) { .about-service__title { color: #6F3CFF; } }
        &:nth-child(4) { .about-service__title { color: #47D39B; } }
        &:nth-child(3) { .about-service__title { color: #FFA05C; } }
        &:nth-child(1) { .about-service__title { color: #0C7DFF; } }
    }
}